#header {
    background-image: url(img/kedunggandu.jpeg);
    color: white;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    padding: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    border-radius: 50%;
    padding-top: 4%;
}

#nav {
    line-height: 30px;
    background-color: #eeeeee;
    height: 300px;
    width: 100px;
    float: left;
    padding: 5px;
    border-radius: 50%;
}

#section {
    width: 350px;
    float: left;
    padding: 10px;
    text-align: center;
}

#footer {
    background-color: rgb(167, 162, 162);
    clear: both;
    text-align: center;
    padding: 5px;
}